
<div class="d-flex flex-column align-items-center">
  <div class="d-flex flex-wrap p-2" style="gap: 10px;">
    <ng-container *ngFor="let lightSpectrum of lightSpectrum; let i = index">
      <div
        class="rounded-2 pointer-event overflow-hidden"
        style="border: 1px solid #ccc;"
        [ngClass]="i === selectedLightSpectrumIndex ? 'border-primary border-2' : 'border-1'"
        (click)="selectLightSpectrum(i)"
      >
        <div
          class="d-flex text-white p-1"
          style="gap: 10px; border-bottom-left-radius: 0 !important; border-bottom-right-radius: 0 !important;"
          [style.border-color]="lightSpectrum.color"
          [style.background-color]="lightSpectrum.color">
          <div>
            <input
              class="bg-transparent text-center form-control px-2 py-0"
              type="text"
              style="max-width: 80px;"
              [class.text-white]="i > 0"
              [(ngModel)]="lightSpectrum.title" />
          </div>
          <span class="material-icons-outlined cursor-pointer"
                [class.text-black]="i === 0"
                [cpCancelButton]="true"
                [cpOKButton]="true"
                [cpToggle]="!lightSpectrum.default"
                [cpCloseClickOutside]="true"
                cpCancelButtonClass="btn btn-danger"
                cpOKButtonClass="btn btn-primary"
                [(colorPicker)]="lightSpectrum.color" (colorPickerChange)="change()">colorize</span>
        </div>
        <div class="d-flex justify-content-between p-1">
          <span class="material-icons-outlined cursor-pointer">remove_red_eye</span>

          <span *ngIf="i > 0" class="material-icons-outlined cursor-pointer" (click)="removeLightSpectrum(i)">delete</span>
        </div>
      </div>
    </ng-container>
    <div class="d-flex align-items-center">
      <button class="btn btn-primary" (click)="addLight()">Add Light</button>
    </div>
  </div>

  <div class="graph d-flex justify-content-center">
    <canvas #chartCanvas id="chartCanvas"></canvas>
  </div>
</div>

<!-- Display Confirm Dialog To Delete Point On Chart -->
<div #deleteConfirm class="modal w-auto h-auto position-absolute" role="dialog">
  <div class="modal-dialog m-0" role="document">
    <div class="modal-content">
      <div class="modal-body p-2">
        <p class="p-0 mb-2">Are you sure to delete this point?</p>
        <div class="d-flex">
          <button type="button" class="btn btn-danger me-2" (click)="deletePoint()">Yes</button>
          <button type="button" class="btn btn-secondary" (click)="hideDeletePopup()">No</button>
        </div>
      </div>
    </div>
  </div>
</div>
